In [128]:
import pandas as pd

In [129]:
dfventasconsolas=pd.read_excel(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\2 Console_sales.xlsx')
dfjuegossteam=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\3 Juegos en steam.csv')
dfvideogamessales=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\4. Video Games Sales.csv')

In [130]:
dfjuegossteam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27074 non-null  object
 5   publisher         27061 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

In [139]:
dfjuegossteam.head(3)

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99

In [140]:

dfPlataformassteam=dfjuegossteam['platforms'].str.split(';',expand=True).copy()
dfPlataformassteam['windows']='0'
dfPlataformassteam['windows'].iloc[dfPlataformassteam[0]=='windows']='1'
dfPlataformassteam['mac']='0'
dfPlataformassteam['mac'].iloc[dfPlataformassteam[1]=='mac']='1'
dfPlataformassteam['mac'].iloc[dfPlataformassteam[2]=='mac']='1'
dfPlataformassteam['linux']='0'
dfPlataformassteam['linux'].iloc[dfPlataformassteam[1]=='linux']='1'
dfPlataformassteam['linux'].iloc[dfPlataformassteam[2]=='linux']='1'
dfPlataformassteam.drop(columns=[0,1,2],inplace=True)
dfPlataformassteam.insert(0,'appid',dfjuegossteam['appid'])
dfPlataformassteam

         appid windows mac linux
0           10       1   1     1
1           20       1   1     1
2           30       1   1     1
3           40       1   1     1
4           50       1   1     1
...        ...     ...  ..   ...
27070  1065230       1   0     0
27071  1065570       1   0     0
27072  1065650       1   0     0
27073  1066700       1   1     0
27074  1069460       1   1     0

[27075 rows x 4 columns]

In [231]:
dfPlataformassteam.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\Plataformassteam.csv')

In [142]:
dfjuegossteam.drop(columns='platforms',inplace=True)

In [198]:
dfjuegossteamcategories=dfjuegossteam['categories'].str.split(';',expand=True).copy()

In [197]:
dfjuegossteamcategories.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Multi-player,Online Multi-Player,Local Multi-Player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Multi-player,Online Multi-Player,Local Multi-Player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Multi-player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,Multi-player,Online Multi-Player,Local Multi-Player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Single-player,Multi-player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [ ]:
lista=[]
for b in dfjuegossteamcategories.columns.tolist():
    for a in dfjuegossteamcategories[b].unique():
        if a !=None:
            if a not in lista:
                lista.append(a)
lista

for a in lista:
    dfjuegossteamcategories[a]='0'
for a in lista:
    for b in dfjuegossteam['categories'].str.split(';',expand=True).columns.tolist():
        dfjuegossteamcategories[a].iloc[dfjuegossteamcategories[b]==a]='1'


dfjuegossteamcategories.drop(columns=dfjuegossteam['categories'].str.split(';',expand=True).columns.tolist(),inplace=True)

dfjuegossteamcategories.insert(0,'appid',dfjuegossteam['appid'])

In [234]:
dfjuegossteamcategories.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juegossteamcategories.csv')

In [214]:
dfjuegossteam.drop(columns='categories',inplace=True)

In [216]:
dfjuegossteamgenres=dfjuegossteam['genres'].str.split(';',expand=True).copy()
lista=[]
for b in dfjuegossteamgenres.columns.tolist():
    for a in dfjuegossteamgenres[b].unique():
        if a !=None:
            if a not in lista:
                lista.append(a)
lista

for a in lista:
    dfjuegossteamgenres[a]='0'
for a in lista:
    for b in dfjuegossteam['genres'].str.split(';',expand=True).columns.tolist():
        dfjuegossteamgenres[a].iloc[dfjuegossteamgenres[b]==a]='1'

dfjuegossteamgenres.drop(columns=dfjuegossteam['genres'].str.split(';',expand=True).columns.tolist(),inplace=True)

dfjuegossteamgenres.insert(0,'appid',dfjuegossteam['appid'])
dfjuegossteamgenres.head()

,appid,Action,Indie,Strategy,RPG,Animation & Modeling,Casual,Simulation,Racing,Adventure,...,Sexual Content,Audio Production,Photo Editing,Early Access,Accounting,Video Production,Software Training,Game Development,Documentary,Tutorial
0,10,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,20,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,40,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,50,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27070,1065230,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27071,1065570,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27072,1065650,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27073,1066700,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27074,1069460,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [233]:
dfjuegossteamgenres.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juegossteamgenres.csv')

In [217]:
dfjuegossteam.drop(columns='genres',inplace=True)

In [ ]:
dfjuegossteamsteamspy_tags=dfjuegossteam['steamspy_tags'].str.split(';',expand=True).copy()
lista=[]
for b in dfjuegossteamsteamspy_tags.columns.tolist():
    for a in dfjuegossteamsteamspy_tags[b].unique():
        if a !=None:
            if a not in lista:
                lista.append(a)
lista

for a in lista:
    dfjuegossteamsteamspy_tags[a]='0'
for a in lista:
    for b in dfjuegossteam['steamspy_tags'].str.split(';',expand=True).columns.tolist():
        dfjuegossteamsteamspy_tags[a].iloc[dfjuegossteamsteamspy_tags[b]==a]='1'

dfjuegossteamsteamspy_tags.drop(columns=dfjuegossteam['steamspy_tags'].str.split(';',expand=True).columns.tolist(),inplace=True)

dfjuegossteamsteamspy_tags.insert(0,'appid',dfjuegossteam['appid'])
dfjuegossteamsteamspy_tags.head()

In [235]:
dfjuegossteamsteamspy_tags.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juesgossteamspy_tags.csv')

In [224]:
dfjuegossteam.drop(columns='steamspy_tags',inplace=True)

In [241]:
dfjuegossteam.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juegos en steam.csv')

In [ ]:
dfvideogamessales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         15848 non-null  float64
 6   EU_Sales         15520 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      15341 non-null  float64
 9   Global_Sales     15728 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [227]:
dfvideogamessales['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy', nan], dtype=object)

In [ ]:
dfvideogamessales

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
7772,LEGO Marvel's Avengers,3DS,2016.0,Action,Warner Bros. Interactive Entertainment,0.07,NaN,0.01,0.01,NaN,60.0,4.0,7.1,15.0,TT Games,E10+
9180,Homefront: The Revolution,XOne,2016.0,Shooter,Deep Silver,0.06,NaN,0.00,NaN,NaN,49.0,12.0,4.1,106.0,Deep Silver Dambuster Studios,M
16105,Period Cube: Torikago no Amadeus,PSV,2016.0,Action,Idea Factory,0.00,0.00,0.01,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13437,Just Dance 2017,PS3,2016.0,Misc,Ubisoft,0.01,0.03,0.00,0.01,NaN,NaN,NaN,tbd,NaN,Ubisoft Paris,E10+
16168,Shitsuji ga Aruji o Erabu Toki,PSV,2016.0,Adventure,Unknown,0.00,0.00,0.01,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14212,Sabre Wulf,GBA,NaN,Platform,THQ,0.02,0.01,0.00,0.00,NaN,75.0,27.0,8,4.0,Rare Ltd.,E
15121,Legacy of Ys: Books I & II,DS,NaN,Role-Playing,Unknown,NaN,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15537,Runaway: A Twist of Fate,DS,NaN,Adventure,Focus Home Interactive,0.00,0.02,0.00,NaN,NaN,66.0,5.0,NaN,NaN,Pendulo Studios,T
16291,Shorts,DS,NaN,Platform,Unknown,0.01,0.00,0.00,0.00,NaN,NaN,NaN,tbd,NaN,Artificial Mind and Movement,E10+
16409,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,NaN,69.0,14.0,6.5,6.0,Midway,T