In [1]:
import pandas as pd

In [ ]:
dfjuegossteam=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\3 Juegos en steam.csv')

In [ ]:
dfjuegossteam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27074 non-null  object
 5   publisher         27061 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

In [ ]:
dfjuegossteam.head(3)

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99

In [ ]:

dfPlataformassteam=dfjuegossteam['platforms'].str.split(';',expand=True).copy()
dfPlataformassteam['windows']='0'
dfPlataformassteam['windows'].iloc[dfPlataformassteam[0]=='windows']='1'
dfPlataformassteam['mac']='0'
dfPlataformassteam['mac'].iloc[dfPlataformassteam[1]=='mac']='1'
dfPlataformassteam['mac'].iloc[dfPlataformassteam[2]=='mac']='1'
dfPlataformassteam['linux']='0'
dfPlataformassteam['linux'].iloc[dfPlataformassteam[1]=='linux']='1'
dfPlataformassteam['linux'].iloc[dfPlataformassteam[2]=='linux']='1'
dfPlataformassteam.drop(columns=[0,1,2],inplace=True)
dfPlataformassteam.insert(0,'appid',dfjuegossteam['appid'])
dfPlataformassteam

         appid windows mac linux
0           10       1   1     1
1           20       1   1     1
2           30       1   1     1
3           40       1   1     1
4           50       1   1     1
...        ...     ...  ..   ...
27070  1065230       1   0     0
27071  1065570       1   0     0
27072  1065650       1   0     0
27073  1066700       1   1     0
27074  1069460       1   1     0

[27075 rows x 4 columns]

In [ ]:
dfPlataformassteam.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\Plataformassteam.csv')

In [ ]:
dfjuegossteam.drop(columns='platforms',inplace=True)

In [ ]:
dfjuegossteamcategories=dfjuegossteam['categories'].str.split(';',expand=True).copy()

In [ ]:
dfjuegossteamcategories.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Multi-player,Online Multi-Player,Local Multi-Player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Multi-player,Online Multi-Player,Local Multi-Player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Multi-player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,Multi-player,Online Multi-Player,Local Multi-Player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Single-player,Multi-player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [ ]:
lista=[]
for b in dfjuegossteamcategories.columns.tolist():
    for a in dfjuegossteamcategories[b].unique():
        if a !=None:
            if a not in lista:
                lista.append(a)
lista

for a in lista:
    dfjuegossteamcategories[a]='0'
for a in lista:
    for b in dfjuegossteam['categories'].str.split(';',expand=True).columns.tolist():
        dfjuegossteamcategories[a].iloc[dfjuegossteamcategories[b]==a]='1'


dfjuegossteamcategories.drop(columns=dfjuegossteam['categories'].str.split(';',expand=True).columns.tolist(),inplace=True)

dfjuegossteamcategories.insert(0,'appid',dfjuegossteam['appid'])

In [ ]:
dfjuegossteamcategories.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juegossteamcategories.csv')

In [ ]:
dfjuegossteam.drop(columns='categories',inplace=True)

In [ ]:
dfjuegossteamgenres=dfjuegossteam['genres'].str.split(';',expand=True).copy()
lista=[]
for b in dfjuegossteamgenres.columns.tolist():
    for a in dfjuegossteamgenres[b].unique():
        if a !=None:
            if a not in lista:
                lista.append(a)
lista

for a in lista:
    dfjuegossteamgenres[a]='0'
for a in lista:
    for b in dfjuegossteam['genres'].str.split(';',expand=True).columns.tolist():
        dfjuegossteamgenres[a].iloc[dfjuegossteamgenres[b]==a]='1'

dfjuegossteamgenres.drop(columns=dfjuegossteam['genres'].str.split(';',expand=True).columns.tolist(),inplace=True)

dfjuegossteamgenres.insert(0,'appid',dfjuegossteam['appid'])
dfjuegossteamgenres.head()

,appid,Action,Indie,Strategy,RPG,Animation & Modeling,Casual,Simulation,Racing,Adventure,...,Sexual Content,Audio Production,Photo Editing,Early Access,Accounting,Video Production,Software Training,Game Development,Documentary,Tutorial
0,10,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,20,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,40,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,50,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27070,1065230,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27071,1065570,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27072,1065650,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27073,1066700,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27074,1069460,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
dfjuegossteamgenres.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juegossteamgenres.csv')

In [ ]:
dfjuegossteam.drop(columns='genres',inplace=True)

In [ ]:
dfjuegossteamsteamspy_tags=dfjuegossteam['steamspy_tags'].str.split(';',expand=True).copy()
lista=[]
for b in dfjuegossteamsteamspy_tags.columns.tolist():
    for a in dfjuegossteamsteamspy_tags[b].unique():
        if a !=None:
            if a not in lista:
                lista.append(a)
lista

for a in lista:
    dfjuegossteamsteamspy_tags[a]='0'
for a in lista:
    for b in dfjuegossteam['steamspy_tags'].str.split(';',expand=True).columns.tolist():
        dfjuegossteamsteamspy_tags[a].iloc[dfjuegossteamsteamspy_tags[b]==a]='1'

dfjuegossteamsteamspy_tags.drop(columns=dfjuegossteam['steamspy_tags'].str.split(';',expand=True).columns.tolist(),inplace=True)

dfjuegossteamsteamspy_tags.insert(0,'appid',dfjuegossteam['appid'])
dfjuegossteamsteamspy_tags.head()

In [ ]:
dfjuegossteamsteamspy_tags.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juesgossteamspy_tags.csv')

In [ ]:
dfjuegossteam.drop(columns='steamspy_tags',inplace=True)

In [ ]:
dfjuegossteam.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juegos en steam.csv')

In [2]:
dfventasconsolas=pd.read_excel(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\2 Console_sales.xlsx')
dfvideogamessales=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\4. Video Games Sales.csv')

In [4]:
dfvideogamessales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         15848 non-null  float64
 6   EU_Sales         15520 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      15341 non-null  float64
 9   Global_Sales     15728 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [ ]:
dfvideogamessales['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy', nan], dtype=object)

In [5]:
dfvideogamessales['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       'PS4', '3DS', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne',
       'WiiU', 'GC', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [38]:
dfvideogamessales[dfvideogamessales['Year_of_Release'].isna()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
183,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23,94.0,29.0,8.5,140.0,EA Tiburon,E
377,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49,84.0,20.0,6.4,76.0,EA Canada,E
456,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.80,NaN,0.00,0.29,3.06,74.0,17.0,7.9,22.0,Traveller's Tales,E10+
475,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00,NaN,NaN,NaN,NaN,NaN,NaN
609,Space Invaders,2600,NaN,Shooter,Atari,NaN,0.14,0.00,0.03,2.53,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16376,PDC World Championship Darts 2008,PSP,NaN,Sports,Oxygen Interactive,0.01,0.00,0.00,0.00,0.01,43.0,7.0,tbd,NaN,Oxygen Interactive,E10+
16409,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,NaN,69.0,14.0,6.5,6.0,Midway,T
16452,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01,59.0,6.0,6.7,107.0,Saber Interactive,M
16462,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16526,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01,55.0,19.0,5.5,12.0,Artificial Mind and Movement,T

In [3]:
dfvideogames_sin_año=dfvideogamessales['Name'][dfvideogamessales['Year_of_Release'].isna()].str.split(' ',expand=True)
dfvideogames_sin_año.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
183,Madden,NFL,2004,None,None,None,None,None,None,None,None,None,None
377,FIFA,Soccer,2004,None,None,None,None,None,None,None,None,None,None
456,LEGO,Batman:,The,Videogame,None,None,None,None,None,None,None,None,None
475,wwe,Smackdown,vs.,Raw,2006,None,None,None,None,None,None,None,None
609,Space,Invaders,None,None,None,None,None,None,None,None,None,None,None

In [4]:
dfvideogames_sin_año[12].drop(columns=12, inplace=True)
dfvideogames_sin_año[11].unique()
dfvideogames_sin_año.drop(columns=11,inplace=True)
dfvideogames_sin_año[10].unique()
dfvideogames_sin_año.drop(columns=10,inplace=True)
dfvideogames_sin_año[9].unique()
dfvideogames_sin_año.drop(columns=9,inplace=True)
dfvideogames_sin_año[8].unique()
dfvideogames_sin_año.drop(columns=8,inplace=True)
dfvideogames_sin_año[7].unique()
dfvideogames_sin_año.drop(columns=7,inplace=True)
dfvideogames_sin_año[6].unique()
dfvideogames_sin_año.drop(columns=6,inplace=True)
sorted(dfvideogames_sin_año[5].dropna().unique(),reverse=False)[0:11]
dfvideogames_sin_año.drop(columns=5,inplace=True)

In [5]:
a=[]
for b in sorted(dfvideogames_sin_año[4].dropna().unique())[2:4]:
    a.append(b)
for b in sorted(dfvideogames_sin_año[3].dropna().unique())[2:6]:
    a.append(b)
for b in sorted(dfvideogames_sin_año[2].dropna().unique())[1:16]:
    a.append(b)
a.append(sorted(dfvideogames_sin_año[1].dropna().unique())[1])
c=[]
for b in a:
    c.append(b.strip("'()"))

In [6]:
dfvideogamessales[dfvideogamessales['Name'].str.contains('2006',case=True,na=False) & dfvideogamessales['Year_of_Release'].isna()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
475,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00,NaN,NaN,NaN,NaN,NaN,NaN
13930,Sega Rally 2006,PS2,NaN,Racing,Unknown,0.00,0.00,0.04,0.00,0.04,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
c=sorted(set(c))
c.remove('2')
c.remove('2:')
c.remove('2nd')
c

In [ ]:
for a in c:
    print(dfvideogamessales[['Name','Year_of_Release']][dfvideogamessales['Name'].str.contains(a,case=True,na=False)  & dfvideogamessales['Year_of_Release'].isna()])

In [ ]:
dfvideogamessales['Year_of_Release'].iloc[dfvideogamessales['Name']=='wwe Smackdown vs. Raw 2006']=2005
dfvideogamessales.loc[dfvideogamessales['Name']=='Madden NFL 06','Year_of_Release']
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Madden NFL 06', 'Year_of_Release'] = 2005
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Sega Rally 2006 ', 'Year_of_Release'] = 2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Tiger Woods PGA Tour 07  ', 'Year_of_Release'] = 2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Major League Baseball 2K8', 'Year_of_Release'] = 2008
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Major League Baseball 2K6', 'Year_of_Release'] = 2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'wwe Smackdown vs. Raw 2006', 'Year_of_Release'] = 2005
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Sega Rally 2006', 'Year_of_Release']=2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'College Hoops 2K6', 'Year_of_Release']=2005
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Madden NFL 07', 'Year_of_Release']=2007
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Tiger Woods PGA Tour 07 ', 'Year_of_Release']=2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Tomb Raider (2013)', 'Year_of_Release']=2013
dfvideogamessales.loc[dfvideogamessales['Name'] == 'All-Star Baseball 2005', 'Year_of_Release']=2013
dfvideogamessales.loc[dfvideogamessales['Name'] == 'PDC World Championship Darts 2008', 'Year_of_Release']=2007
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Tour de France 2011', 'Year_of_Release']=2011
dfvideogamessales.loc[dfvideogamessales['Name'] == 'PES 2009: Pro Evolution Soccer', 'Year_of_Release']=2008
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Football Manager 2007', 'Year_of_Release']=2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Madden NFL 11', 'Year_of_Release']=2010
dfvideogamessales.loc[dfvideogamessales['Name'] == 'All-Star Baseball 2005', 'Year_of_Release']=2004
dfvideogamessales.loc[dfvideogamessales['Name'] == 'FIFA Soccer 2004', 'Year_of_Release']=2003
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Madden NFL 2004', 'Year_of_Release']=2003
dfvideogamessales.loc[dfvideogamessales['Name'] == 'NBA Live 2003', 'Year_of_Release']=2002
dfvideogamessales.loc[dfvideogamessales['Name'] == 'NBA Live 2003', 'Year_of_Release']=2002
dfvideogamessales.loc[dfvideogamessales['Name'] == 'MLB SlugFest 20-03', 'Year_of_Release']=2002
dfvideogamessales.loc[dfvideogamessales['Name'] == 'NFL GameDay 2003', 'Year_of_Release']=2002
dfvideogamessales.loc[dfvideogamessales['Name'] == 'NASCAR Thunder 2003', 'Year_of_Release']=2002
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Madden NFL 2002', 'Year_of_Release']=2001

In [56]:
dfvideogamessales.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\analisis-de-datos-de-videojuegos\videogames_sales.csv')

In [63]:
dfventasconsolas.groupby('Sales').sum()

             Year        Dato       Console    Company
Sales
-89890000.0  2014  Out_of_use   Nintendo DS   Nintendo
-81510000.0  2016  Out_of_use  Nintendo Wii   Nintendo
-77730000.0  2018  Out_of_use      Sony PS3       Sony
-69910000.0  2018  Out_of_use       Xbox360  Microsoft
-48290000.0  2015  Out_of_use      Sony PSP       Sony
...           ...         ...           ...        ...
 20550000.0  2010       anual   Nintendo DS   Nintendo
 21050000.0  2009       anual  Nintendo Wii   Nintendo
 24090000.0  2008       anual  Nintendo Wii   Nintendo
 27280000.0  2009       anual   Nintendo DS   Nintendo
 29470000.0  2008       anual   Nintendo DS   Nintendo

[82 rows x 4 columns]