In [1]:
import pandas as pd

In [ ]:
dfjuegossteam=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\3 Juegos en steam.csv')

In [ ]:
dfjuegossteam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27074 non-null  object
 5   publisher         27061 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

In [ ]:
dfjuegossteam.head(3)

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99

### Normalizacion de la tabla de los videojuegos de steam

In [ ]:
#se crea un dataframe ccon los datos de la columna platforms
dfPlataformassteam=dfjuegossteam['platforms'].str.split(';',expand=True).copy()
dfPlataformassteam['windows']='0'
dfPlataformassteam['windows'].iloc[dfPlataformassteam[0]=='windows']='1'
dfPlataformassteam['mac']='0'
dfPlataformassteam['mac'].iloc[dfPlataformassteam[1]=='mac']='1'
dfPlataformassteam['mac'].iloc[dfPlataformassteam[2]=='mac']='1'
dfPlataformassteam['linux']='0'
dfPlataformassteam['linux'].iloc[dfPlataformassteam[1]=='linux']='1'
dfPlataformassteam['linux'].iloc[dfPlataformassteam[2]=='linux']='1'
dfPlataformassteam.drop(columns=[0,1,2],inplace=True)
dfPlataformassteam.insert(0,'appid',dfjuegossteam['appid'])
dfPlataformassteam

         appid windows mac linux
0           10       1   1     1
1           20       1   1     1
2           30       1   1     1
3           40       1   1     1
4           50       1   1     1
...        ...     ...  ..   ...
27070  1065230       1   0     0
27071  1065570       1   0     0
27072  1065650       1   0     0
27073  1066700       1   1     0
27074  1069460       1   1     0

[27075 rows x 4 columns]

In [ ]:
#se guarda el dataframe creado en un csv
dfPlataformassteam.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\Plataformassteam.csv')

In [ ]:
# desechamos la columna normalizada
dfjuegossteam.drop(columns='platforms',inplace=True)

In [ ]:
# se comienza con la normalizacion de la columna categories
dfjuegossteamcategories=dfjuegossteam['categories'].str.split(';',expand=True).copy()

In [ ]:
dfjuegossteamcategories.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,Multi-player,Online Multi-Player,Local Multi-Player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Multi-player,Online Multi-Player,Local Multi-Player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Multi-player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,Multi-player,Online Multi-Player,Local Multi-Player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,Single-player,Multi-player,Valve Anti-Cheat enabled,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [ ]:
# se crea un dataframe con los datos de la columna categories
lista=[]
for b in dfjuegossteamcategories.columns.tolist():
    for a in dfjuegossteamcategories[b].unique():
        if a !=None:
            if a not in lista:
                lista.append(a)
lista

for a in lista:
    dfjuegossteamcategories[a]='0'
for a in lista:
    for b in dfjuegossteam['categories'].str.split(';',expand=True).columns.tolist():
        dfjuegossteamcategories[a].iloc[dfjuegossteamcategories[b]==a]='1'


dfjuegossteamcategories.drop(columns=dfjuegossteam['categories'].str.split(';',expand=True).columns.tolist(),inplace=True)

dfjuegossteamcategories.insert(0,'appid',dfjuegossteam['appid'])

In [ ]:
# se guarda en un csv los datos del dataframe creado
dfjuegossteamcategories.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juegossteamcategories.csv')

In [ ]:
# quitamos la columna categories del dataframe original
dfjuegossteam.drop(columns='categories',inplace=True)

In [ ]:
# se realiza la normalizacion ylimpieza  de la columna genres
dfjuegossteamgenres=dfjuegossteam['genres'].str.split(';',expand=True).copy()
lista=[]
for b in dfjuegossteamgenres.columns.tolist():
    for a in dfjuegossteamgenres[b].unique():
        if a !=None:
            if a not in lista:
                lista.append(a)
lista

for a in lista:
    dfjuegossteamgenres[a]='0'
for a in lista:
    for b in dfjuegossteam['genres'].str.split(';',expand=True).columns.tolist():
        dfjuegossteamgenres[a].iloc[dfjuegossteamgenres[b]==a]='1'

dfjuegossteamgenres.drop(columns=dfjuegossteam['genres'].str.split(';',expand=True).columns.tolist(),inplace=True)

dfjuegossteamgenres.insert(0,'appid',dfjuegossteam['appid'])
dfjuegossteamgenres.head()

,appid,Action,Indie,Strategy,RPG,Animation & Modeling,Casual,Simulation,Racing,Adventure,...,Sexual Content,Audio Production,Photo Editing,Early Access,Accounting,Video Production,Software Training,Game Development,Documentary,Tutorial
0,10,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,20,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,40,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,50,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27070,1065230,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27071,1065570,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27072,1065650,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27073,1066700,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27074,1069460,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#se guarda en un csv el dataframe genres
dfjuegossteamgenres.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juegossteamgenres.csv')

In [ ]:
# se elimina la columna genres del dataframe original
dfjuegossteam.drop(columns='genres',inplace=True)

In [ ]:
#se normaliza y limpia la columna steamspy_tags
dfjuegossteamsteamspy_tags=dfjuegossteam['steamspy_tags'].str.split(';',expand=True).copy()
lista=[]
for b in dfjuegossteamsteamspy_tags.columns.tolist():
    for a in dfjuegossteamsteamspy_tags[b].unique():
        if a !=None:
            if a not in lista:
                lista.append(a)
lista

for a in lista:
    dfjuegossteamsteamspy_tags[a]='0'
for a in lista:
    for b in dfjuegossteam['steamspy_tags'].str.split(';',expand=True).columns.tolist():
        dfjuegossteamsteamspy_tags[a].iloc[dfjuegossteamsteamspy_tags[b]==a]='1'

dfjuegossteamsteamspy_tags.drop(columns=dfjuegossteam['steamspy_tags'].str.split(';',expand=True).columns.tolist(),inplace=True)

dfjuegossteamsteamspy_tags.insert(0,'appid',dfjuegossteam['appid'])
dfjuegossteamsteamspy_tags.head()

In [ ]:
# se guarda en un csv el dataframe creado
dfjuegossteamsteamspy_tags.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\juesgossteamspy_tags.csv')

In [ ]:
#se elimina del dataframe original la columna steamspy_tags
dfjuegossteam.drop(columns='steamspy_tags',inplace=True)

In [77]:
# se rellenan valores nulos de las columnas restantes
dfjuegossteam['developer'].fillna('N/D',inplace=True)
dfjuegossteam['publisher'].fillna('N/D',inplace=True)

In [52]:
#se comprueba que el ataframe ya no tenga valores nulos
dfjuegossteam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   AppId                        27075 non-null  int64
 1   Nombre                       27075 non-null  object
 2   Fecha de Lanzamiento         27075 non-null  object
 3   Idioma Inglés                27075 non-null  int64
 4   Desarrollador                27074 non-null  object
 5   Editorial                    27061 non-null  object
 6   Edad Requerida               27075 non-null  int64
 7   Logros Dentro del Juego      27075 non-null  int64
 8   Calificaciones Positivas     27075 non-null  int64
 9   Calificaciones Negativas     27075 non-null  int64
 10  Tiempo de Juego Promedio     27075 non-null  int64
 11  Mediana del Tiempo de Juego  27075 non-null  int64
 12  Compradores del Juego        27075 non-null  object
 13  Precio                       27075 non-null  float64
dtypes: float64(1), int64(8), object(5)
memory usage: 2.9+ MB

In [56]:
dfjuegossteam['Precio']

0        7.19
1        3.99
2        3.99
3        3.99
4        3.99
         ...
27070    2.09
27071    1.69
27072    3.99
27073    5.19
27074    5.19
Name: Precio, Length: 27075, dtype: float64

In [39]:
#cambiamos los nombres de las columnas a español
dfjuegossteam.rename(columns={'name':'Nombre', 'release_date':'Fecha de Lanzamiento', 'english':'Idioma Inglés', 'developer':'Desarrollador',
                               'publisher':'Editorial','required_age':'Edad Requerida', 'achievements':'Logros Dentro del Juego', 
                               'positive_ratings':'Calificaciones Positivas', 'negative_ratings':'Calificaciones Negativas',
                                'average_playtime':'Tiempo de Juego Promedio', 'median_playtime':'Mediana del Tiempo de Juego', 
                                'owners':'Compradores del Juego', 'price':'Precio USD','appid':'AppId'},inplace=True)

In [59]:
#se guarda en un csv
dfjuegossteam.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\analisis-de-datos-de-videojuegos\juegos en steam.csv',index=False)

## Limpieza del dataframe video games sales

In [49]:
dfvideogamessales=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\4. Video Games Sales.csv')

In [50]:
dfvideogamessales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         15848 non-null  float64
 6   EU_Sales         15520 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      15341 non-null  float64
 9   Global_Sales     15728 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [ ]:
dfvideogamessales['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy', nan], dtype=object)

In [5]:
dfvideogamessales['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       'PS4', '3DS', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne',
       'WiiU', 'GC', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [38]:
dfvideogamessales[dfvideogamessales['Year_of_Release'].isna()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
183,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23,94.0,29.0,8.5,140.0,EA Tiburon,E
377,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49,84.0,20.0,6.4,76.0,EA Canada,E
456,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.80,NaN,0.00,0.29,3.06,74.0,17.0,7.9,22.0,Traveller's Tales,E10+
475,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00,NaN,NaN,NaN,NaN,NaN,NaN
609,Space Invaders,2600,NaN,Shooter,Atari,NaN,0.14,0.00,0.03,2.53,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16376,PDC World Championship Darts 2008,PSP,NaN,Sports,Oxygen Interactive,0.01,0.00,0.00,0.00,0.01,43.0,7.0,tbd,NaN,Oxygen Interactive,E10+
16409,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,NaN,69.0,14.0,6.5,6.0,Midway,T
16452,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01,59.0,6.0,6.7,107.0,Saber Interactive,M
16462,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16526,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01,55.0,19.0,5.5,12.0,Artificial Mind and Movement,T

In [51]:
dfvideogames_sin_año=dfvideogamessales['Name'][dfvideogamessales['Year_of_Release'].isna()].str.split(' ',expand=True)
dfvideogames_sin_año.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
183,Madden,NFL,2004,None,None,None,None,None,None,None,None,None,None
377,FIFA,Soccer,2004,None,None,None,None,None,None,None,None,None,None
456,LEGO,Batman:,The,Videogame,None,None,None,None,None,None,None,None,None
475,wwe,Smackdown,vs.,Raw,2006,None,None,None,None,None,None,None,None
609,Space,Invaders,None,None,None,None,None,None,None,None,None,None,None

In [52]:
dfvideogames_sin_año[12].drop(columns=12, inplace=True)
dfvideogames_sin_año[11].unique()
dfvideogames_sin_año.drop(columns=11,inplace=True)
dfvideogames_sin_año[10].unique()
dfvideogames_sin_año.drop(columns=10,inplace=True)
dfvideogames_sin_año[9].unique()
dfvideogames_sin_año.drop(columns=9,inplace=True)
dfvideogames_sin_año[8].unique()
dfvideogames_sin_año.drop(columns=8,inplace=True)
dfvideogames_sin_año[7].unique()
dfvideogames_sin_año.drop(columns=7,inplace=True)
dfvideogames_sin_año[6].unique()
dfvideogames_sin_año.drop(columns=6,inplace=True)
sorted(dfvideogames_sin_año[5].dropna().unique(),reverse=False)[0:11]
dfvideogames_sin_año.drop(columns=5,inplace=True)

In [53]:
a=[]
for b in sorted(dfvideogames_sin_año[4].dropna().unique())[2:4]:
    a.append(b)
for b in sorted(dfvideogames_sin_año[3].dropna().unique())[2:6]:
    a.append(b)
for b in sorted(dfvideogames_sin_año[2].dropna().unique())[1:16]:
    a.append(b)
a.append(sorted(dfvideogames_sin_año[1].dropna().unique())[1])
c=[]
for b in a:
    c.append(b.strip("'()"))

In [54]:
dfvideogamessales[dfvideogamessales['Name'].str.contains('2006',case=True,na=False) & dfvideogamessales['Year_of_Release'].isna()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
475,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00,NaN,NaN,NaN,NaN,NaN,NaN
13930,Sega Rally 2006,PS2,NaN,Racing,Unknown,0.00,0.00,0.04,0.00,0.04,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
c=sorted(set(c))
c.remove('2')
c.remove('2:')
c.remove('2nd')
c

['06',
 '07',
 '11',
 '20-03',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009:',
 '2011',
 '2013',
 '2K6',
 '2K8']

In [56]:
for a in c:
    print(dfvideogamessales[['Name','Year_of_Release']][dfvideogamessales['Name'].str.contains(a,case=True,na=False)  & dfvideogamessales['Year_of_Release'].isna()])

                             Name  Year_of_Release
475    wwe Smackdown vs. Raw 2006              NaN
3413                Madden NFL 06              NaN
13930             Sega Rally 2006              NaN
                          Name  Year_of_Release
2479             Madden NFL 07              NaN
4205   Tiger Woods PGA Tour 07              NaN
16081    Football Manager 2007              NaN
                      Name  Year_of_Release
2849         Madden NFL 11              NaN
13196  Tour de France 2011              NaN
                    Name  Year_of_Release
2492  MLB SlugFest 20-03              NaN
                 Name  Year_of_Release
3486  Madden NFL 2002              NaN

                     Name  Year_of_Release
1650  NASCAR Thunder 2003              NaN
4775     NFL GameDay 2003              NaN
5156        NBA Live 2003              NaN
5889        NBA Live 2003              NaN
                 Name  Year_of_Release
183   Madden NFL 2004              NaN
377  FIFA Soccer 2004              NaN
                        Name  Year_of_Release
5655  All-Star Baseball 2005              NaN
8919  All-Star Baseball 2005              NaN
                             Name  Year_of_Release
475    wwe Smackdown vs. Raw 2006              NaN
13930             Sega Rally 2006              NaN
                        Name  Year_of_Release
16081  Football Manager 2007              NaN
                                    Name  Year_of_Release
15955  PDC World Championship Darts 2008              NaN
16376  PDC World Championship Darts 2008              NaN
                                Name  Year_of_Release
2572  PES 2009: Pro Evolution Soccer              NaN
                      Name  Year_of_Release
13196  Tour de France 2011              NaN
                    Name  Year_of_Release
5336  Tomb Raider (2013)              NaN
                           Name  Year_of_Release
6625          College Hoops 2K6              NaN
9877  Major League Baseball 2K6              NaN
                            Name  Year_of_Release
14143  Major League Baseball 2K8              NaN

In [57]:
dfvideogamessales['Year_of_Release'].iloc[dfvideogamessales['Name']=='wwe Smackdown vs. Raw 2006']=2005
dfvideogamessales.loc[dfvideogamessales['Name']=='Madden NFL 06','Year_of_Release']
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Madden NFL 06', 'Year_of_Release'] = 2005
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Sega Rally 2006 ', 'Year_of_Release'] = 2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Tiger Woods PGA Tour 07  ', 'Year_of_Release'] = 2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Major League Baseball 2K8', 'Year_of_Release'] = 2008
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Major League Baseball 2K6', 'Year_of_Release'] = 2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'wwe Smackdown vs. Raw 2006', 'Year_of_Release'] = 2005
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Sega Rally 2006', 'Year_of_Release']=2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'College Hoops 2K6', 'Year_of_Release']=2005
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Madden NFL 07', 'Year_of_Release']=2007
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Tiger Woods PGA Tour 07 ', 'Year_of_Release']=2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Tomb Raider (2013)', 'Year_of_Release']=2013
dfvideogamessales.loc[dfvideogamessales['Name'] == 'All-Star Baseball 2005', 'Year_of_Release']=2013
dfvideogamessales.loc[dfvideogamessales['Name'] == 'PDC World Championship Darts 2008', 'Year_of_Release']=2007
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Tour de France 2011', 'Year_of_Release']=2011
dfvideogamessales.loc[dfvideogamessales['Name'] == 'PES 2009: Pro Evolution Soccer', 'Year_of_Release']=2008
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Football Manager 2007', 'Year_of_Release']=2006
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Madden NFL 11', 'Year_of_Release']=2010
dfvideogamessales.loc[dfvideogamessales['Name'] == 'All-Star Baseball 2005', 'Year_of_Release']=2004
dfvideogamessales.loc[dfvideogamessales['Name'] == 'FIFA Soccer 2004', 'Year_of_Release']=2003
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Madden NFL 2004', 'Year_of_Release']=2003
dfvideogamessales.loc[dfvideogamessales['Name'] == 'NBA Live 2003', 'Year_of_Release']=2002
dfvideogamessales.loc[dfvideogamessales['Name'] == 'NBA Live 2003', 'Year_of_Release']=2002
dfvideogamessales.loc[dfvideogamessales['Name'] == 'MLB SlugFest 20-03', 'Year_of_Release']=2002
dfvideogamessales.loc[dfvideogamessales['Name'] == 'NFL GameDay 2003', 'Year_of_Release']=2002
dfvideogamessales.loc[dfvideogamessales['Name'] == 'NASCAR Thunder 2003', 'Year_of_Release']=2002
dfvideogamessales.loc[dfvideogamessales['Name'] == 'Madden NFL 2002', 'Year_of_Release']=2001

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\173687894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['Year_of_Release'].iloc[dfvideogamessales['Name']=='wwe Smackdown vs. Raw 2006']=2005

In [58]:
dfvideogamessales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16474 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         15848 non-null  float64
 6   EU_Sales         15520 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      15341 non-null  float64
 9   Global_Sales     15728 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [59]:
# los valores nulo de Name y Genre contienen datos que aportan al analisis
dfvideogamessales.loc[dfvideogamessales['Name'].isna()]
dfvideogamessales['Name'].fillna('Sin Dato',inplace=True)
dfvideogamessales['Genre'].fillna('Sin Dato',inplace=True)
dfvideogamessales.loc[dfvideogamessales['Name'].isna()]

Empty DataFrame
Columns: [Name, Platform, Year_of_Release, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales, Critic_Score, Critic_Count, User_Score, User_Count, Developer, Rating]
Index: []

In [60]:
#se rellenan valores nulos de la columna Publisher
dfvideogamessales[dfvideogamessales['Publisher'].isna()]
dfvideogamessales['Publisher'].fillna('Sin Dato',inplace=True)
dfvideogamessales[dfvideogamessales['Publisher'].isna()]

Empty DataFrame
Columns: [Name, Platform, Year_of_Release, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales, Critic_Score, Critic_Count, User_Score, User_Count, Developer, Rating]
Index: []

In [61]:
# se hace una columna nueva que contenga la suma de todas las ventas
dfvideogamessales['Global_Sales'].isna().value_counts()
dfvideogamessales['subtotoal_sales']=dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales']].sum(axis=1)

In [62]:
# se hace una copia de la columna global sales para ir comparando sin perder la informacion original
dfvideogamessales['Global_Sales2']=dfvideogamessales['Global_Sales']

In [63]:
#rellenamos valores faltantes de las ventas globales con la suma de las columnas por region
dfvideogamessales['Global_Sales2'].fillna(round(dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales']].sum(axis=1),2),inplace=True)
dfvideogamessales['Global_Sales2'][dfvideogamessales['Global_Sales2'].isna()]

Series([], Name: Global_Sales2, dtype: float64)

In [64]:
#se actualiza columna de subtotales y se checa 
dfvideogamessales['subtotoal_sales']=round(dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales']].sum(axis=1),2)
dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales','subtotoal_sales','Global_Sales2']][dfvideogamessales['subtotoal_sales']!=dfvideogamessales['Global_Sales2']]

,EU_Sales,NA_Sales,JP_Sales,Other_Sales,subtotoal_sales,Global_Sales2
0,28.96,41.36,3.77,NaN,74.09,82.53
3,10.93,15.61,3.28,NaN,29.82,32.77
4,8.89,11.27,10.22,1.00,31.38,31.37
7,9.18,13.96,2.93,2.84,28.91,28.92
15,8.49,9.01,2.53,1.77,21.80,21.79
...,...,...,...,...,...,...
16680,0.00,0.00,0.00,0.00,0.00,0.01
16696,NaN,0.00,0.00,0.00,0.00,0.01
16710,0.00,NaN,0.00,0.00,0.00,0.01
16713,0.00,0.00,0.00,0.00,0.00,0.01
16715,NaN,0.00,0.00,0.00,0.00,0.01

In [30]:
dfvideogamessales['Other_Sales'].isna().value_counts()

Other_Sales
False    15341
True      1378
Name: count, dtype: int64

In [65]:
#se rellenan valores nulos de la columna Other sales donde los demas valores estan completos y se rellena con la diferencia de el total con el subtotal si el subtotal es menor a las ventas globales
dfvideogamessales['Other_Sales'].loc[(dfvideogamessales['Other_Sales'].isna())&(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])]=round(dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales'],2)
dfvideogamessales['Other_Sales'].loc[(dfvideogamessales['Other_Sales'].isna())&(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])]

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\3494047741.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['Other_Sales'].loc[(dfvideogamessales['Other_Sales'].isna())&(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])]=round(dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales'],2)

Series([], Name: Other_Sales, dtype: float64)

In [66]:
#checamos cuantos valores nulos quedan en la columna other sales
dfvideogamessales['Other_Sales'].isna().value_counts()

Other_Sales
False    16177
True       542
Name: count, dtype: int64

In [67]:
#checamos las filas restantes con valores nulos de la columna other sales
dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales','subtotoal_sales','Global_Sales2']][dfvideogamessales['Other_Sales'].isna()]

,EU_Sales,NA_Sales,JP_Sales,Other_Sales,subtotoal_sales,Global_Sales2
16,9.09,7.02,0.98,NaN,17.09,17.09
89,0.45,7.28,0.00,NaN,7.73,7.73
654,0.24,2.10,0.00,NaN,2.34,2.34
841,0.18,1.57,0.00,NaN,1.75,1.75
1086,0.39,NaN,0.00,NaN,0.39,0.39
...,...,...,...,...,...,...
16628,0.00,0.01,0.00,NaN,0.01,0.01
16672,0.00,0.00,0.01,NaN,0.01,0.01
16673,0.00,0.01,0.00,NaN,0.01,0.01
16675,0.00,0.00,0.01,NaN,0.01,0.01
16690,0.00,0.00,0.01,NaN,0.01,0.01

In [68]:
#rellenamos los valores nulos de la columna others sales donde el subtotal es igual a las ventas globales con 0
dfvideogamessales['Other_Sales'].loc[(dfvideogamessales['Other_Sales'].isna())&(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2'])]=0
dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales','subtotoal_sales','Global_Sales2']][dfvideogamessales['Other_Sales'].isna()]

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\740130227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['Other_Sales'].loc[(dfvideogamessales['Other_Sales'].isna())&(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2'])]=0

,EU_Sales,NA_Sales,JP_Sales,Other_Sales,subtotoal_sales,Global_Sales2
9329,0.04,0.10,0.0,NaN,0.14,0.13
12278,0.02,0.05,0.0,NaN,0.07,0.06
14150,0.01,0.03,0.0,NaN,0.04,0.03
14217,0.01,0.03,0.0,NaN,0.04,0.03
14240,0.01,0.03,0.0,NaN,0.04,0.03
14340,0.01,0.03,0.0,NaN,0.04,0.03
15039,0.01,0.02,0.0,NaN,0.03,0.02

In [69]:
dfvideogamessales['subtotoal_sales']=round(dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales']].sum(axis=1),2)
dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales','subtotoal_sales','Global_Sales2']][dfvideogamessales['subtotoal_sales']!=dfvideogamessales['Global_Sales2']]

,EU_Sales,NA_Sales,JP_Sales,Other_Sales,subtotoal_sales,Global_Sales2
4,8.89,11.27,10.22,1.00,31.38,31.37
7,9.18,13.96,2.93,2.84,28.91,28.92
15,8.49,9.01,2.53,1.77,21.80,21.79
18,3.75,12.78,3.54,0.55,20.62,20.61
19,9.20,4.74,4.16,2.04,20.14,20.15
...,...,...,...,...,...,...
16680,0.00,0.00,0.00,0.00,0.00,0.01
16696,NaN,0.00,0.00,0.00,0.00,0.01
16710,0.00,NaN,0.00,0.00,0.00,0.01
16713,0.00,0.00,0.00,0.00,0.00,0.01
16715,NaN,0.00,0.00,0.00,0.00,0.01

In [70]:
# Se cambian los valores nulos de la columna other sales por 0 ya que los subtotales son igual a laa ventas globales
dfvideogamessales['Other_Sales'].loc[(dfvideogamessales['Other_Sales'].isna())&(dfvideogamessales['subtotoal_sales']>dfvideogamessales['Global_Sales2'])]=0
# se actualiza el campo de ventas globales por el subtotal ya que el subtotal es mayor a laa ventas globales, y este contiene la suma correcta de las ventas globales
dfvideogamessales['Global_Sales2'].loc[(dfvideogamessales['Other_Sales'].isna())&(dfvideogamessales['subtotoal_sales']>dfvideogamessales['Global_Sales2'])]=dfvideogamessales['subtotoal_sales']
dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales','subtotoal_sales','Global_Sales2']][dfvideogamessales['Other_Sales'].isna()]

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\2350795551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['Other_Sales'].loc[(dfvideogamessales['Other_Sales'].isna())&(dfvideogamessales['subtotoal_sales']>dfvideogamessales['Global_Sales2'])]=0
C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\2350795551.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['Global_Sales2'].loc[(dfvideogamessales['Other_Sales'].isna())&(dfvideogamessales['subtotoal_sales']>dfvideogamessales['Global_Sales2'])]=dfvideogamessales['subtotoal_sales']

Empty DataFrame
Columns: [EU_Sales, NA_Sales, JP_Sales, Other_Sales, subtotoal_sales, Global_Sales2]
Index: []

In [79]:
dfvideogamessales['subtotoal_sales']=round(dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales']].sum(axis=1),2)
(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2']).value_counts()

True     12028
False     4691
Name: count, dtype: int64

In [37]:
dfvideogamessales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16719 non-null  int64
 1   Name             16719 non-null  object
 2   Platform         16719 non-null  object
 3   Year_of_Release  16475 non-null  float64
 4   Genre            16719 non-null  object
 5   Publisher        16719 non-null  object
 6   NA_Sales         15881 non-null  float64
 7   EU_Sales         15520 non-null  float64
 8   JP_Sales         16719 non-null  float64
 9   Other_Sales      16719 non-null  float64
 10  Global_Sales     15728 non-null  float64
 11  Critic_Score     8137 non-null   float64
 12  Critic_Count     8137 non-null   float64
 13  User_Score       10015 non-null  object
 14  User_Count       7590 non-null   float64
 15  Developer        10096 non-null  object
 16  Rating           9950 non-null   object
 17  subtotoal_sales  16719 non-null  float64
 18  Global_Sales2    16719 non-null  float64
dtypes: float64(11), int64(1), object(7)
memory usage: 2.4+ MB

In [76]:
dfvideogamessales[['NA_Sales','EU_Sales','Other_Sales','subtotoal_sales','Global_Sales2']].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())&(dfvideogamessales['NA_Sales'].isna())]

       NA_Sales  EU_Sales  Other_Sales  subtotoal_sales  Global_Sales2
67          NaN       NaN         0.50             2.19           9.49
903         NaN       NaN         0.03             1.49           1.92
1328        NaN       NaN         0.02             1.11           1.44
1731        NaN       NaN         0.14             0.14           1.17
1987        NaN       NaN         0.19             0.24           1.04
2079        NaN       NaN         0.03             0.03           0.99
2492        NaN       NaN         0.11             0.11           0.83
3021        NaN       NaN         0.01             0.01           0.67
3218        NaN       NaN         0.10             0.11           0.63
3319        NaN       NaN         0.08             0.08           0.61
3478        NaN       NaN         0.04             0.04           0.58
4239        NaN       NaN         0.03             0.03           0.46
4474        NaN       NaN         0.00             0.00           0.43
4743        NaN       NaN         0.04             0.04           0.41
4837        NaN       NaN         0.01             0.01           0.40
5031        NaN       NaN         0.01             0.08           0.38
6126        NaN       NaN         0.02             0.02           0.28
6143        NaN       NaN         0.04             0.04           0.28
6270        NaN       NaN         0.02             0.02           0.27
6275        NaN       NaN         0.02             0.02           0.27
6574        NaN       NaN         0.03             0.03           0.26
7197        NaN       NaN         0.02             0.02           0.22
7961        NaN       NaN         0.02             0.09           0.19
8534        NaN       NaN         0.01             0.01           0.16
9155        NaN       NaN         0.00             0.13           0.14
10757       NaN       NaN         0.01             0.01           0.10
10819       NaN       NaN         0.02             0.02           0.10
10897       NaN       NaN         0.00             0.06           0.09
11290       NaN       NaN         0.01             0.01           0.08
12884       NaN       NaN         0.00             0.00           0.05
15394       NaN       NaN         0.00             0.00           0.02
15476       NaN       NaN         0.00             0.00           0.02
16619       NaN       NaN         0.00             0.00           0.01

In [80]:
#tenemos dos valores faltantes de ventas en las columnas na sales y eu sales, se sacara el promedio de los dos y se pondra e cada uno de los valores faltantes, ya que son pocos valores y no afectaran en gran escala el analisis de los datos
dfvideogamessales['NA_Sales'].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())&(dfvideogamessales['NA_Sales'].isna())]=round((dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales'])/2,2)
dfvideogamessales['EU_Sales'].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())&(dfvideogamessales['NA_Sales'].isna())]=round((dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales'])/2,2)
dfvideogamessales[['NA_Sales','EU_Sales']].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())&(dfvideogamessales['NA_Sales'].isna())]

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\628655658.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['NA_Sales'].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())&(dfvideogamessales['NA_Sales'].isna())]=round((dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales'])/2,2)
C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\628655658.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['EU_Sales'].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())&(dfvideogamessales['NA_Sales'].isna())]=round((dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales'])/2,2)

Empty DataFrame
Columns: [NA_Sales, EU_Sales]
Index: []

In [81]:
#se rellenan valores faltantes de la columna na sales, con la diferencia de las ventas globales con la columna subtotales
dfvideogamessales['NA_Sales'].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['NA_Sales'].isna())]=(dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales'])
dfvideogamessales['NA_Sales'].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['NA_Sales'].isna())]

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\426610642.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['NA_Sales'].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['NA_Sales'].isna())]=(dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales'])

Series([], Name: NA_Sales, dtype: float64)

In [82]:
#se rellenan valores faltantes de la columna EU sales, con la diferencia de las ventas globales con la columna subtotales
dfvideogamessales['EU_Sales'].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())]=(dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales'])
dfvideogamessales[['NA_Sales','EU_Sales']].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())]

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\898923682.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['EU_Sales'].loc[(dfvideogamessales['subtotoal_sales']<dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())]=(dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales'])

Empty DataFrame
Columns: [NA_Sales, EU_Sales]
Index: []

In [83]:
#actualizamos subtotales
dfvideogamessales['subtotoal_sales']=round(dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales']].sum(axis=1),2)
(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2']).value_counts()

True     13184
False     3535
Name: count, dtype: int64

In [84]:
#se relenan con 0 los valores nulos de las columnas donde el subtotal es igual a las ventaa globales
dfvideogamessales['EU_Sales'].loc[(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())]=0
dfvideogamessales['NA_Sales'].loc[(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2'])&(dfvideogamessales['NA_Sales'].isna())]=0
dfvideogamessales['NA_Sales'].loc[(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2'])&(dfvideogamessales['NA_Sales'].isna())&(dfvideogamessales['EU_Sales'].isna())]

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\2033756355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['EU_Sales'].loc[(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2'])&(dfvideogamessales['EU_Sales'].isna())]=0
C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\2033756355.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['NA_Sales'].loc[(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2'])&(dfvideogamessales['NA_Sales'].isna())]=0

Series([], Name: NA_Sales, dtype: float64)

In [85]:
#actualizamos subtotales
dfvideogamessales['subtotoal_sales']=round(dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales']].sum(axis=1),2)
(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2']).value_counts()

True     13184
False     3535
Name: count, dtype: int64

In [87]:
# se verifica que aun hay valores faltantes en las columnas subtotales y ventas globales
dfvideogamessales[['EU_Sales','NA_Sales','subtotoal_sales','Global_Sales2']].loc[(dfvideogamessales['EU_Sales'].isna())|(dfvideogamessales['NA_Sales'].isna())]

       EU_Sales  NA_Sales  subtotoal_sales  Global_Sales2
6436        NaN      0.25             0.27           0.26
6591        NaN      0.24             0.26           0.25
6978        NaN      0.22             0.24           0.23
7319        NaN      0.20             0.22           0.21
7504        NaN      0.19             0.21           0.20
7986        NaN      0.10             0.19           0.18
9715        NaN      0.12             0.13           0.12
10477       NaN      0.10             0.11           0.10
10844       NaN      0.09             0.10           0.09
10920       NaN      0.09             0.10           0.09
10947       NaN      0.09             0.10           0.09
11277       NaN      0.08             0.09           0.08
11313       NaN      0.08             0.09           0.08
11318       NaN      0.08             0.09           0.08
11770       NaN      0.07             0.08           0.07
12988      0.05       NaN             0.06           0.05
13116       NaN      0.05             0.06           0.05
13519      0.04       NaN             0.05           0.04
14182      0.03       NaN             0.04           0.03
14298      0.03       NaN             0.04           0.03

In [89]:
#ya que todas las filas con valores faltantes que restan de las columnas NA sales y EU sales el subtotal es mayor a las ventas globales,
#se procede a rellenar con 0, y se ajusta las ventas globales para que sea igual al subtotal
dfvideogamessales['Global_Sales2'].loc[(dfvideogamessales['EU_Sales'].isna())|(dfvideogamessales['NA_Sales'].isna())]=dfvideogamessales['subtotoal_sales']
dfvideogamessales['NA_Sales'].loc[(dfvideogamessales['EU_Sales'].isna())|(dfvideogamessales['NA_Sales'].isna())]=0
dfvideogamessales['EU_Sales'].loc[(dfvideogamessales['EU_Sales'].isna())|(dfvideogamessales['NA_Sales'].isna())]=0
dfvideogamessales[['EU_Sales','NA_Sales','subtotoal_sales','Global_Sales2']].loc[(dfvideogamessales['EU_Sales'].isna())|(dfvideogamessales['NA_Sales'].isna())]

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\3837725526.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['Global_Sales2'].loc[(dfvideogamessales['EU_Sales'].isna())|(dfvideogamessales['NA_Sales'].isna())]=dfvideogamessales['subtotoal_sales']
C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\3837725526.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['NA_Sales'].loc[(dfvideogamessales['EU_Sales'].isna())|(dfvideogamessales['NA_Sales'].isna())]=0
C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\3837725526.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['EU_Sales'].loc[(dfvideogamessales['EU_Sales'].isna())|(dfvideogamessales['NA_Sales'].isna())]=0

Empty DataFrame
Columns: [EU_Sales, NA_Sales, subtotoal_sales, Global_Sales2]
Index: []

In [91]:
#actualizamos subtotales
dfvideogamessales['subtotoal_sales']=round(dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales']].sum(axis=1),2)
(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2']).value_counts()

True     13188
False     3531
Name: count, dtype: int64

In [98]:
# se actualiza el valor de las ventas globales, con el de los subtotales donde las ventas globales son mayores a la venta globa, ya que el subtotal tiene la suma correcta en algunas filas
dfvideogamessales['Global_Sales2'].loc[dfvideogamessales['subtotoal_sales']>dfvideogamessales['Global_Sales2']]=dfvideogamessales['subtotoal_sales']
dfvideogamessales[['NA_Sales','EU_Sales','Other_Sales','subtotoal_sales','Global_Sales2']][dfvideogamessales['subtotoal_sales']>dfvideogamessales['Global_Sales2']]

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\1913904443.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['Global_Sales2'].loc[dfvideogamessales['subtotoal_sales']>dfvideogamessales['Global_Sales2']]=dfvideogamessales['subtotoal_sales']

Empty DataFrame
Columns: [NA_Sales, EU_Sales, Other_Sales, subtotoal_sales, Global_Sales2]
Index: []

In [116]:
#actualizamos subtotales
dfvideogamessales['subtotoal_sales']=round(dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales']].sum(axis=1),2)
(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2']).value_counts()

True     14814
False     1905
Name: count, dtype: int64

In [125]:
dfvideogamessales['Other_Sales'][(dfvideogamessales['subtotoal_sales']!=dfvideogamessales['Global_Sales2'])&(round((dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales']),2)==0.01)]+=0.01

C:\Users\p2_ge\AppData\Local\Temp\ipykernel_2856\2076354247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvideogamessales['Other_Sales'][(dfvideogamessales['subtotoal_sales']!=dfvideogamessales['Global_Sales2'])&(round((dfvideogamessales['Global_Sales2']-dfvideogamessales['subtotoal_sales']),2)==0.01)]+=0.01

In [4]:
#actualizamos subtotales
dfvideogamessales['subtotoal_sales']=round(dfvideogamessales[['EU_Sales','NA_Sales','JP_Sales','Other_Sales']].sum(axis=1),2)
(dfvideogamessales['subtotoal_sales']==dfvideogamessales['Global_Sales2']).value_counts()

True     16701
False       18
Name: count, dtype: int64

In [42]:
#quitamos las columnas Global_sales y subtotoal para dejar la columna donde hicimos las modificaciones como columna final
dfvideogamessales.drop(columns=['subtotoal_sales','Global_Sales'],inplace=True)
dfvideogamessales.rename(columns={'Global_Sales2':'Global_Sales'},inplace=True)

In [30]:
#rellenamos valores nulos de las columnas restantes
dfvideogamessales['Critic_Score'].fillna(0,inplace=True)
dfvideogamessales['Critic_Count'].fillna(0,inplace=True)
dfvideogamessales['User_Score'].fillna('N/D',inplace=True)
dfvideogamessales['User_Count'].fillna('N/D',inplace=True)
dfvideogamessales['Developer'].fillna('N/D',inplace=True)
dfvideogamessales['Rating'].fillna('N/D',inplace=True)
dfvideogamessales['Year_of_Release'].fillna('N/D',inplace=True)
#quitamos el '.0 al final de la cadena
dfvideogamessales['Year_of_Release']=dfvideogamessales['Year_of_Release'].astype(str)
dfvideogamessales['Year_of_Release']=dfvideogamessales['Year_of_Release'].str.split('.',expand=True)[0]

In [29]:
dfvideogamessales['Year_of_Release'].unique()

array(['2006', '1985', '2008', '2009', '1996', '1989', '1984', '2005',
       '1999', '2007', '2010', '2013', '2004', '1990', '1988', '2002',
       '2001', '2011', '1998', '2015', '2012', '2014', '1992', '1997',
       '1993', '1994', '1982', '2016', '2003', '1986', '2000', '1995',
       '1991', '1981', '1987', '1980', '1983', 'N/D', '2020', '2017'],
      dtype=object)

In [32]:
dfvideogamessales.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\analisis-de-datos-de-videojuegos\videogames_sales.csv')

In [31]:
dfvideogamessales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16719 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16719 non-null  object
 3   Genre            16719 non-null  object
 4   Publisher        16719 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Critic_Score     16719 non-null  float64
 10  Critic_Count     16719 non-null  float64
 11  User_Score       16719 non-null  object
 12  User_Count       16719 non-null  object
 13  Developer        16719 non-null  object
 14  Rating           16719 non-null  object
 15  Global_Sales     16719 non-null  float64
dtypes: float64(7), object(9)
memory usage: 2.0+ MB

In [4]:
dfvideogamessales=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\analisis-de-datos-de-videojuegos\videogames_sales.csv')
dfvideogamessales.drop(columns='Unnamed: 0',inplace=True)

In [67]:
#ya no existen valores nulos en el Dataframe de videogames sales
dfvideogamessales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16719 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16719 non-null  object
 3   Genre            16719 non-null  object
 4   Publisher        16719 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Critic_Score     16719 non-null  float64
 10  Critic_Count     16719 non-null  float64
 11  User_Score       16719 non-null  object
 12  User_Count       16719 non-null  object
 13  Developer        16719 non-null  object
 14  Rating           16719 non-null  object
 15  Global_Sales     16719 non-null  float64
dtypes: float64(7), object(9)
memory usage: 2.0+ MB

In [15]:
dfvideogamessales.columns

Index(['Nombre', 'Plataforma', 'Año de Lanzamiento', 'Género', 'Editor',
       'Ventas en Norteamérica', 'Ventas en Europa', 'Ventas en Japón',
       'Otras ventas', 'Califación de la Crítica', 'Conteo de la Crítica',
       'Calificación del Usuario', 'Conteo del Usuario', 'Desarrollador',
       'Rating', 'Ventas Globales'],
      dtype='object')

In [6]:
#se cambian los nombres de las columnasen a español
dfvideogamessales.rename(columns={'Name':'Nombre', 'Platform':'Plataforma', 'Year_of_Release':'Año de Lanzamiento', 'Genre':'Género',
                        'Publisher':'Editor', 'NA_Sales':'Ventas en Norteamérica','EU_Sales':'Ventas en Europa','JP_Sales':'Ventas en Japón', 
                        'Other_Sales':'Otras ventas', 'Critic_Score': 'Califación de la Crítica', 'Critic_Count':'Conteo de la Crítica',
                        'User_Score':'Calificación del Usuario', 'User_Count':'Conteo del Usuario', 'Developer':'Desarrollador', 
                        'Global_Sales':'Ventas Globales'},inplace=True)

In [16]:
dfvideogamessales=dfvideogamessales.reindex(columns=['Nombre', 'Plataforma', 'Año de Lanzamiento', 'Género', 'Editor',
       'Ventas en Norteamérica', 'Ventas en Europa', 'Ventas en Japón',
       'Otras ventas', 'Ventas Globales', 'Califación de la Crítica', 'Conteo de la Crítica',
       'Calificación del Usuario', 'Conteo del Usuario', 'Desarrollador',
       'Rating'])

In [17]:
#se guarda en csv el dataframe final de videogames sales
dfvideogamessales.to_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\analisis-de-datos-de-videojuegos\videogames_sales.csv',index=False)

In [80]:
dfventasconsolas=pd.read_excel(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\2 Console_sales.xlsx')

In [70]:
#se comprueba que el dataframe de console sales no tiene valores nulos 
dfventasconsolas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     84 non-null     int64
 1   Dato     84 non-null     object
 2   Console  84 non-null     object
 3   Company  84 non-null     object
 4   Sales    84 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 3.4+ KB

In [85]:
dfIndicadores_del_desarrollo_humano_mundial_Banco_Mundial=pd.read_excel(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\analisis-de-datos-de-videojuegos\1 Indicadores_del_desarrollo_humano_mundial Banco Mundial.xlsx')

In [87]:
#se comprueba que el dataframe indicadores de desarrollo humano no contenga valores nulos
dfIndicadores_del_desarrollo_humano_mundial_Banco_Mundial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    234 non-null    object
 1   Series Code    232 non-null    object
 2   Country Name   232 non-null    object
 3   Country Code   232 non-null    object
 4   2000 [YR2000]  232 non-null    object
 5   2001 [YR2001]  232 non-null    object
 6   2002 [YR2002]  232 non-null    object
 7   2003 [YR2003]  232 non-null    object
 8   2004 [YR2004]  232 non-null    object
 9   2005 [YR2005]  232 non-null    object
 10  2006 [YR2006]  232 non-null    object
 11  2007 [YR2007]  232 non-null    object
 12  2008 [YR2008]  232 non-null    object
 13  2009 [YR2009]  232 non-null    object
 14  2010 [YR2010]  232 non-null    object
 15  2011 [YR2011]  232 non-null    object
 16  2012 [YR2012]  232 non-null    object
 17  2013 [YR2013]  232 non-null    object
 18  2014 [YR2014]  232 non-null    object
 19  2015 [YR2015]  232 non-null    object
 20  2016 [YR2016]  232 non-null    object
 21  2017 [YR2017]  232 non-null    object
 22  2018 [YR2018]  232 non-null    object
 23  2019 [YR2019]  232 non-null    object
dtypes: object(24)
memory usage: 44.6+ KB

In [1]:
import pandas as pd

In [5]:
dfjuegossteam=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\analisis-de-datos-de-videojuegos\juegos en steam.csv')
dfjuegossteamcategories=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\analisis-de-datos-de-videojuegos\juegossteamcategories.csv')
dfjuegossteamgeneros=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\analisis-de-datos-de-videojuegos\juegossteamgenres.csv')
dfPlataformassteam=pd.read_csv(r'C:\Users\p2_ge\OneDrive\Documentos\bootcamp\M5\Proyecto Integrador\3 Gaming\analisis-de-datos-de-videojuegos\Plataformassteam.csv')

In [15]:
dfjuegossteamcategories.columns

Index(['appid', 'Multi-player', 'Single-player', 'Steam Workshop',
       'Partial Controller Support', 'Online Multi-Player', 'Steam Cloud',
       'Steam Leaderboards', 'MMO', 'Steam Trading Cards',
       'Steam Achievements', 'Includes level editor', 'Shared/Split Screen',
       'Co-op', 'Local Multi-Player', 'VR Support', 'Includes Source SDK',
       'Full controller support', 'Captions available',
       'Cross-Platform Multiplayer', 'Online Co-op', 'Stats',
       'In-App Purchases', 'Local Co-op', 'Valve Anti-Cheat enabled',
       'Commentary available', 'SteamVR Collectibles', 'Mods',
       'Steam Turn Notifications', 'Mods (require HL2)'],
      dtype='object')

In [13]:
dfjuegossteamgeneros.columns

Index(['appid', 'Action', 'Indie', 'Strategy', 'RPG', 'Animation & Modeling',
       'Casual', 'Simulation', 'Racing', 'Adventure', 'Violent', 'Nudity',
       'Free to Play', 'Sports', 'Gore', 'Massively Multiplayer', 'Utilities',
       'Design & Illustration', 'Education', 'Web Publishing',
       'Sexual Content', 'Audio Production', 'Photo Editing', 'Early Access',
       'Accounting', 'Video Production', 'Software Training',
       'Game Development', 'Documentary', 'Tutorial'],
      dtype='object')

In [19]:
dfjuegossteam.head()

,AppId,Nombre,Fecha de Lanzamiento,Idioma Inglés,Desarrollador,Editorial,Edad Requerida,Logros Dentro del Juego,Calificaciones Positivas,Calificaciones Negativas,Tiempo de Juego Promedio,Mediana del Tiempo de Juego,Compradores del Juego,Precio USD
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,0,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,0,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,0,0,3416,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,0,0,1273,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,0,0,5250,288,624,415,5000000-10000000,3.99